.navbar-inverse {
  background-color: #b4cf49;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:active, .nav-sidebar > .active > a:visited {
  background-color: #b4cf49;
}
.nav-sidebar > .active > a:hover {
  background-color: #02686d;
}
a {
  color: #02686d;
}
img {
  padding-bottom: 5px;
}
